<button (click)="setVisible();">
  {{visible?'Ocultar':'Mostrar'}}
</button>

<div *ngIf="visible; else notEnable">
  <h2>{{title}}</h2>

</div>

<div *ngIf="visible">

  <table *ngIf="(users != undefined && users.length > 0) else isEmpty">
    <thead>
      <tr>
        <td>Id</td>
        <td>Name</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of users; index as i">
        <td>{{i+1}} </td>
        <td>{{item}} </td>
      </tr>
    </tbody>
  </table>

  <ng-template #isEmpty>
    <div>No Existe registro en el sistema</div>
  </ng-template>
</div>

<ng-template #notEnable>
  <h2>Lo sentimos, no está disponible la página</h2>
</ng-template>